  <ul class="carousel">
    {% for image in product.images %} 
    <li class="carousel_slide">
      <picture>
        <source 
          srcset="https://fdnd-agency.directus.app/assets/{{ image.directus_files_id }}?format=avif&width=300" 
          type="image/avif"
        >

        <source 
          srcset="https://fdnd-agency.directus.app/assets/{{ image.directus_files_id }}?format=webp&width=300" 
          type="image/webp"
        > 

        <img 
          src="https://fdnd-agency.directus.app/assets/{{ image.directus_files_id }}?width=300" 
          alt="{{ product.title }}" 
          fetchpriority="{% if forloop.first %}high{% else %}auto{% endif %}"
          loading="{% if forloop.first %}eager{% else %}lazy{% endif %}" 
          width="300" 
          height="300"
        >
      </picture>
    </li>
     {% endfor %} 
</ul>