<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Decathlon</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>

  <body>
    <header class="header">

        <aside class="promo-bar">
            <p>Unlock exclusive discounts and offers - only on the Decathlon App!
                <a href="#">Download now</a>
            </p>
        </aside>

        <nav class="nav-bar">
            <ul class="header-list">
                <li class="header-list-item">
                    <button type="button" class="menu-button">
                        <img src="/assets/images/nav-icon-button.svg" alt="Open menu" width="25" height="25">
                    </button>
                </li>

                <li class="header-list-item">
                    <a class="decathlon-logo" href="/">
                        <img src="/assets/images/decathlon-logo.svg" alt="Decathlon logo" class="logo" width="188" height="28">
                    </a>
                </li>

                <li class="header-list-item">
                    <a class="account" href="/account">
                        <img src="/assets/images/account.svg" alt="Your account" width="25" height="25">
                    </a>
                </li>
        
                <li class="header-list-item">
                    <a class="shop-cart" href="/shopcart">
                        <img src="/assets/images/shop-cart.svg" alt="Shopping cart" width="25" height="25">
                    </a>
                </li>

                <li class="header-list-item">
                    <div class="search-wrapper">
                        <img class="search-icon" src="/assets/images/search-icon.svg" alt="" width="25" height="25">
                            <input type="search" placeholder="Search" name="search">
                    </div>
                </li>
            </ul>
        </nav>
    </header>