  <div class="product-detail-title">
    <h1>Basketball Shoes</h1>
    <img src="/assets/images/product-name-logo.svg" class="dots-logo" alt="" width="16" height="16">
  </div>

{% comment %} FOR IMG ELEMENT WHEN DYNAMIC {% endcomment %}
{% comment %} fetchpriority="{% if forloop.first %}high{% else %}auto{% endif %}"
loading="{% if forloop.first %}eager{% else %}lazy{% endif %}" {% endcomment %}

  <ul class="carousel">
    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056661/k$024349b9e45d85cda56c09c74e8d1ce1/picture.jpg?format=auto&f=3000x0" 
          alt="{{ product.name }}" 
          fetchpriority="high" 
          loading="eager" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 2/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056794/k$548d28576089b2ba9a878cf0a407f290/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 3/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 4/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 5/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 6/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 7/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 8/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 9/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>

    <li class="carousel_slide">
      <picture>
        <img 
          src="https://contents.mediadecathlon.com/p3056568/k$1199b551cf9e53046d278831889381a9/picture.jpg?format=auto&f=3000x0" 
          alt="Men's/Women's Low Basketball Shoes Fast 500 - White 10/11" 
          fetchpriority="auto" 
          loading="lazy" 
          width="300" 
          height="300"
        >
      </picture>
    </li>
  </ul>

<section class="product-info">
  <h2 class="brand-name">KIPSTA</h2>
  <h3 class="product-name">Men's/Women's Low Basketball Shoes Fast 500 - White</h3>

  <div class="review-rating">
    <span>★★★★☆</span>
    <span class="rating_count">| 4 reviews</span>
  </div>

  <p>These lightweight basketball shoes offer excellent traction and support for sharp directional changes on the court. Drive straight to the rim!</p>

  <h4>ID 8974697</h4>
</section>
<div class="select-wrapper">
  <label for="size">Size</label>
    <select class="select" id="size" name="size-select">
      <option value="" disabled selected hidden >Select</option>
        <option value="UK 4 - EU 37">UK 4 - EU 37</option>
        <option value="UK 5 - EU 38">UK 5 - EU 38</option>
        <option value="UK 6 - EU 39">UK 6 - EU 39</option>
        <option value="UK 7 - EU 40">UK 7 - EU 40</option>
        <option value="UK 8 - EU 41">UK 8 - EU 41</option>
        <option value="UK 9 - EU 42">UK 9 - EU 42</option>
    </select>
</div>

<button popovertarget="size-guide">Size guide</button>

<p popover id="size-guide">Size guide</p>

<div class="input-wrapper">
  <button class="minus">-</button>
    <input type="number" value="1" class="quantity"/>
  <button class="plus">+</button>
</div>

<p>$40.00</p>

<button type="submit" class="add-to-cart-button">Add to basket</button>