<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Decathlon</title>
        <link rel="stylesheet" href="/assets/styles/styleguide.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script defer src="/assets/scripts/script.js"></script>
  </head>

  <body>
    <header class="header">

        <aside class="promo-bar">
            <p>Unlock exclusive discounts and offers - only on the Decathlon App!
                <a href="#">Download now</a>
            </p>
        </aside>

        <nav class="nav-bar">
            <ul class="header-list">

                <li class="menu">
                    <button type="button" class="menu-button">
                        <img src="/assets/images/nav-icon-button.svg" alt="Open menu" width="25" height="25">
                    </button>
                </li>

                <li class="logo-item">
                    <a class="decathlon-logo" href="/">
                        <img src="/assets/images/decathlon-logo.svg" alt="Decathlon" class="logo-img" width="188" height="28">
                    </a>
                </li>

                <li class="account">
                    <a href="/account">
                        <img src="/assets/images/account.svg" alt="Account" width="25" height="25">
                    </a>
                </li>
        
                <li class="cart">
                    <a href="/shopcart">
                        <img src="/assets/images/shop-cart.svg" alt="Shopping cart" width="25" height="25">
                    </a>
                </li>
            </ul>

            <form method="GET" action="/">
                <label for="search-input" class="search-wrapper">
                <svg class="search-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="25" height="25" stroke-width="1.5" aria-hidden="true" data-part="search-icon"><path d="M21.4 21.4L17.5 17.5M17.8 10.2C17.8 14.3 14.4 17.7 10.3 17.7C6.20005 17.7 2.80005 14.3 2.80005 10.2C2.80005 6.10001 6.20005 2.70001 10.3 2.70001C14.4 2.70001 17.8 6.10001 17.8 10.2Z" stroke="currentColor"></path></svg>
                <span class="search-label">Search</span>
                <input type="search" name="search" id="search-input">
                </label>
            </form>
        </nav>
    </header>