<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Decathlon</title>
        <link rel="stylesheet" href="/assets/styles/styleguide.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script defer src="/assets/scripts/script.js"></script>
  </head>

  <body>
    <header class="header">

        <aside class="promo-bar">
            <p>Unlock exclusive discounts and offers - only on the Decathlon App!
                <a href="#">Download now</a>
            </p>
        </aside>

        <nav class="nav-bar">
            <ul class="header-list">

                <li class="menu">
                    <button type="button" class="menu-button">
                        <img src="/assets/images/nav-icon-button.svg" alt="Open menu" width="25" height="25">
                    </button>
                </li>

                <li class="logo-item">
                    <a class="decathlon-logo" href="/">
                        <img src="/assets/images/decathlon-logo.svg" alt="Decathlon" class="logo-img" width="188" height="28">
                    </a>
                </li>

                <li class="account">
                    <a href="/account">
                        <img src="/assets/images/account.svg" alt="Account" width="25" height="25">
                    </a>
                </li>
        
                <li class="cart">
                    <a href="/shopcart">
                        <img src="/assets/images/shop-cart.svg" alt="Shopping cart" width="25" height="25">
                    </a>
                </li>
            </ul>

            <form method="GET" action="/">
                <label for="search-input" class="search-wrapper">
                <img class="search-icon" src="/assets/images/search-icon.svg" alt="" width="25" height="25">
                <span class="search-label">Search</span>
                <input type="search" name="search" id="search-input">
                </label>
            </form>
        </nav>
    </header>