* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Decathlon VF', 'Inter', sans-serif;
  list-style: none;
}

.promo-bar {
  background: #3643ba;
  color: #FFFFFF;
  padding: 10px;
  font-size: 14px;
  display: flex;
  font-weight: 400;

  p {
    max-width: 350px;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 1.5em;

    a {
      color: #FFFFFF;
    }
  }
}

.header-list {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "menu logo account cart"
    "search search search search";
  align-items: center;
  justify-items: center;
  gap: 10px;
  padding: 10px;

  .menu {
    grid-area: menu;

    .menu-button {
      border: none;
      background-color: unset;
    }
  }

  .logo {
    grid-area: logo;
    padding: 5.5px;
  }

  .account {
    grid-area: account;
  }

  .cart {
    grid-area: cart;
  }

  .search {
    grid-area: search;
  }
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #F5F4F5;
  padding: 10px;
  border-radius: 999px;
  width: 90dvw;
  outline: 2px solid transparent;
  outline-offset: 2px;

  transition: ease-in-out .3s;

  &:focus-within {
    outline-color: #3643ba;
  }

  .search-icon {
    margin-left: .8em;
  }

  input {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;

    &:focus::placeholder {
      opacity: 0;
    }
  }
}

/* PRODUCT INFO SECTION */
main {

  .product-detail-title {
    display: grid;
    grid-template-areas:
      "title-icon title" 
    ;
    align-items: center;
    justify-content: start;
    padding: 1em;
    gap: .5em;
    padding-bottom: .8em;

    a {
      text-decoration: unset;

      h1 {
        grid-area: title;
        font-weight: 500;
        font-size: 14px;
        color: #616161;
        line-height: 1.4286;
      }
    }

    .dots-logo {
      grid-area: title-icon;
      fill: #616161;
    }
  }

  .carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-left: .5em;

    .carousel_slide {
      
      &:last-of-type {
        padding-right: 1em;
      }
    
      img {
        padding-left: .5em;
      }
    }
  }

  .product-info {
    padding: 1em;

    h2 {
      font-weight: 500;
      font-size: 21px;

    }

    h3 {
      font-size: 26px;
      font-weight: 500;
    }

    h4 {
      color: #616161;
      font-size: 12px;
    }
  }
}
